html {
    background-color: #070020;
    color: #d3d6ff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.h2 {
    color: #ff0000;
}

.mineText {
    background-color:aqua;
}